<aside ngClass="h-full">
    <h1>Ads Title</h1>
    <p class="md:line-clamp-[10]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, labore veniam cum molestias atque nam, sint
        quam explicabo at ipsa totam cupiditate recusandae voluptas dolorum nobis saepe aliquid nostrum! Architecto
        molestiae veritatis autem quas optio amet, eaque magni ut vero est ipsa aliquid qui alias delectus inventore
        magnam! Eaque voluptatum consequatur error dolorum? Odit, minus officia quas temporibus, qui ipsam laboriosam a
        autem aut accusantium quidem et corporis. Dolorem illum vero quidem? Tenetur laudantium voluptate illum rerum
        dolor possimus praesentium deleniti. Sunt perferendis delectus dolorum doloremque obcaecati ad vero minus,
        corrupti, autem maiores tempora quod, quidem aperiam deleniti mollitia asperiores!</p>
</aside>