<table ngClass="table-auto border-separate border-spacing-2 border border-slate-500">
    <caption ngClass="caption-top font-bold pb-4 text-2xl" [innerHTML]="hotelName">
    </caption>
    <thead>
        <tr>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Number</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Photo</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Type</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Price</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Amenities</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Checkin</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Checkout</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Rating</th>
            <th ngClass="whitespace-nowrap text-start border border-slate-600 px-1.5 py-1">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let room of rooms; let e = even; let o = odd; let i = index" [ngClass]="[e ? 'even' : 'odd']">
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1"><span
                    [innerText]="room.roomNumber"></span>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1" [align]="'center'">
                <img ngClass="object-cover w-10 h-10 rounded-full" [src]="room.photos" [alt]="room.roomType">
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1"><span
                    [innerText]="room.roomType | titlecase"></span>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1"><span
                    [innerText]="room.price | currency:'MAD'"
                    [ngStyle]="{color: room.price >= 2500 ? 'rgb(20 184 166)' : 'rgb(234 179 8)'}"></span>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-ellipsis overflow-x-hidden max-w-[180px]"
                [title]="room.amenities"><span [innerText]="room.amenities"></span>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-ellipsis overflow-x-hidden max-w-[160px]"
                [title]="room.checkinTime"><span [innerText]="room.checkinTime | date:'EEEE, d-MMMM-y'"></span>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-ellipsis overflow-x-hidden max-w-[160px]"
                [title]="room.checkoutTime"><span [innerText]="room.checkoutTime | date:'EEEE, d-MMMM-y'"></span>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-ellipsis overflow-x-hidden max-w-[160px]"
                [title]="room.rating">
                <div class="flex">
                    <svg *ngFor="let item of [1,2,3,4,5]" class="w-3" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 54 52" fill="none">
                        <path
                            d="M27.4755 3.84549L27 2.38197L26.5245 3.84549L21.0239 20.7746H3.22359H1.68475L2.92969 21.6791L17.3304 32.1418L11.8298 49.0709L11.3543 50.5344L12.5993 49.6299L27 39.1672L41.4007 49.6299L42.6457 50.5344L42.1702 49.0709L36.6696 32.1418L51.0703 21.6791L52.3153 20.7746H50.7764H32.9761L27.4755 3.84549Z"
                            [attr.fill]="item <= room.rating ? '#FFAA00' : 'none'" stroke="#FFAA00" />
                    </svg>
                </div>
            </td>
            <td ngClass="whitespace-nowrap border border-slate-700 px-1.5 py-1 text-ellipsis overflow-x-hidden max-w-[160px]"
                [title]="room.roomNumber">
                <button (click)="selectRoom(room)" ngClass="bg-violet-500 px-2 py-1">Show</button>
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>