<div ngClass="flex flex-col gap-4">
    <div *ngIf="roomList" ngClass="overflow-auto">
        <app-rooms-list [hotelName]="hotelName" [rooms]="roomList"></app-rooms-list>

        <button [disabled]="numberOfRooms < 10 || numberOfRooms >= 15"
            ngClass="disabled:text-slate-700 disabled:cursor-not-allowed capitalize border px-2 py-1 w-fit mt-10"
            (click)="reserveRoom()" [innerText]="'reserve room'">
        </button>
    </div>

    <div ngClass="max-w-6xl overflow-auto">
        <pre>{{ roomList | json }}</pre>
    </div>
</div>